.woocommerce{
    &.woocommerce-shop{
        background: #f8f7f5;
        
        .site-main{
            max-width: 100%;
            margin: 0 auto;
            padding: 100px 0;
        }
    }

    .woocommerce-breadcrumb{
        max-width: 1170px;
        padding: 0 10px;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.5;
        color: #333;
        text-transform: uppercase;
        a{
            color: #333333;
            &:hover{
                color: #D19D64;
            }
        }
    }

    .woocommerce-toolbar{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        line-height: 24px;
        background-color: #FFFFFF;
        padding: 20px 16px;
        border-radius: 2px;

        .woocommerce-notices-wrapper{
            width: 100%;
        }

        .woocommerce-result-count{
            margin: 0;
            font-size: 14px;
            line-height: 24px;
            color: #D19D64;
        }
    
        .woocommerce-ordering{
            margin-bottom: 0;
        }

        @media screen and (max-width: 767px) {
            .woocommerce-result-count{
                width: 100%;
                margin-bottom: 10px;
            }
            .woocommerce-ordering{
                width: 100%;
                .select2-container{
                    width: 100% !important;
                }
            }
        }
    }

    .select2-container--default{
        
        .select2-selection--single{
            padding: 8px 0;
            height: auto;
            border: 0;
            .select2-selection__arrow{
                top: 50%;
                transform: translateY(-50%);
            }
            .select2-selection__rendered{
                padding: 0;
                font-size: 14px;
                line-height: 24px;
                color: #D19D64;
            }
        }
        .select2-dropdown{
            border: 0;
            .select2-search--dropdown{
                padding: 4px 0;
            }
            .select2-search__field{
                outline-offset: 0;
                outline-color: #D19D64;
            }
        }
        .select2-results__options{
            border: 1px solid rgba(0, 0, 0, 0.1)
        }
        .select2-results__option{
            font-size: 14px;
            line-height: 24px;
            color: #333333;
            padding: 8px 12px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            -webkit-transition: all .3s;
            transition: all .3s;
            &:last-child{
                border-bottom: 0;
            }
            &--highlighted[aria-selected]{
                background-color: #D19D64;
                color: #FFFFFF;
            }
            &:hover{
                background-color: #D19D64;
                color: #FFFFFF;
            }
        }

    }

    ul.products{
        padding-top: 30px;
        padding-bottom: 40px;
        &.columns-6{
            grid-template-columns: 1fr;
        }
        &.columns-5{
            grid-template-columns: 1fr;
        }
        &.columns-4{
            grid-template-columns: 1fr;
        }
        &.columns-3{
            grid-template-columns: 1fr;
        }
        &.columns-2{
            grid-template-columns: 1fr;
        }
        &.columns-1{
            grid-template-columns: 1fr;
        }

        @media screen and (min-width: 576px) {
            &.columns-6{
                grid-template-columns: 1fr 1fr 1fr;
            }
            &.columns-5{
                grid-template-columns: 1fr 1fr;
            }
            &.columns-4{
                grid-template-columns: 1fr 1fr;
            }
            &.columns-3{
                grid-template-columns: 1fr 1fr;
            }
            &.columns-2{
                grid-template-columns: 1fr 1fr;
            }

        }

        @media screen and (min-width: 768px) {
            grid-template-columns: 1fr 1fr 1fr;
            &.columns-6{
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
            &.columns-5{
                grid-template-columns: 1fr 1fr 1fr;
            }
            &.columns-4{
                grid-template-columns: 1fr 1fr 1fr;
            }
            &.columns-3{
                grid-template-columns: 1fr 1fr 1fr;
            }
        }

        @media screen and (min-width: 1024px) {
            
            &.columns-6{
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            }
            &.columns-5{
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }

        @media screen and (min-width: 1119px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            &.columns-6{
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            }
            &.columns-5{
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            }
            &.columns-4{
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }

        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 25px;
        grid-row-gap: 25px;
        margin: 0;
        &::before,
        &::after{
            display: none;
        }

        &[class*=columns-]{
            li.product{
                width: 100%;
                margin: 0;
            }
        }
        li.product{
            background: #FFFFFF;
            padding-bottom: 12px;
            overflow: hidden;
            border-radius: 2px;
            &:hover{
                .woocommerce-loop-product__header{
                    .woocommerce-loop-product__overlay {
                        opacity: 1;
                    }
                    img{
                        transform: scale(1.1);
                    }
                    .button{
                        opacity: 1;
                        -webkit-transform: translateX(-50%) translateY(-50%);
                        transform: translateX(-50%) translateY(-50%);
                    }
                    .added_to_cart{
                        opacity: 1;
                        -webkit-transform: translateY(0);
                        transform: translateY(0);
                    }
                }
            }
            .woocommerce-loop-product__header{
                display: flex;
                position: relative;
                overflow: hidden;
                background: #eee;
                padding-bottom: 100%;
                .woocommerce-loop-product__overlay{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.13);
                    opacity: 0;
                    z-index: 1;
                    -webkit-transition: all .3s;
                    transition: all .3s;
                }
                img{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                    margin: 0;
                    -webkit-transition: all 1.5s cubic-bezier(0.11, 0.52, 0.53, 0.79) 0.2s;
                    transition: all 1.5s cubic-bezier(0.11, 0.52, 0.53, 0.79) 0.2s;
                }
                .button{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    font-size: 14px;
                    color: #D19D64;
                    background-color: #FFFFFF;
                    margin: 0;
                    padding: 0 15px 0 0;
                    max-width: calc(100% - 30px);
                    opacity: 0;
                    z-index: 3;
                    -webkit-transform: translateX(-50%) translateY(calc(-50% + 40px));
                    transform: translateX(-50%) translateY(calc(-50% + 40px));
                    -webkit-transition: all .3s;
                    transition: all .3s;
                    &.loading{
                        &::after{
                            position: unset;
                        }
                    }
                    .icon{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 44px;
                        height: 44px;
                        min-width: 44px;
                        background-color: #D19D64;
                        border-radius: 2px 0 0 2px;
                        -webkit-transition: all .3s;
                        transition: all .3s;
                    }
                    .text{
                        display: inline-block;
                        padding-left: 12px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }

                    &:hover{
                        .icon{
                            background-color: #D17A1D;
                        }
                    }
                }
                .added_to_cart{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    font-size: 13px;
                    font-weight: 600;
                    text-align: center;
                    color: #FFFFFF;
                    background:  #D19D64;
                    padding: 8px 0;
                    z-index: 3;
                    opacity: 0;
                    -webkit-transition: transform .4s ease .2s;
                    transition: transform .4s ease .2s;
                    -webkit-transform: translateY(100%);
                    transform: translateY(100%);
                    &:hover{
                        background-color: #D17A1D;
                    }
                }
            }

            .onsale{
                top: 10px;
                left: 10px;
                right: auto;
                z-index: 3;
                background-color: #D19D64;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 1px;
                color: #FFFFFF;
                line-height: 30px;
                border-radius: 3px;
                padding: 0 13px;
                margin: 0;
                min-height: 30px;
            }
            .woocommerce-loop-product__title{
                text-decoration: none;
                color: #333333;
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                margin: 20px 0 8px;
                padding: 0 16px;
                -webkit-transition: all .3s;
                transition: all .3s;
                &:hover{
                    color: #D19D64;
                }
            }
            .price{
                font-size: 14px;
                font-weight: 600;
                line-height: 22px;
                color: #D19D64;
                margin-bottom: 0;
                padding: 0 16px;
                del{
                    color: #111111;
                }
            }
            .star-rating{
                float: right;
                font-size: 12px;
                margin: 3px 15px 0 0;
            
                span{
                    color: #D19D64;
                }
            }
        }
    }

    nav.woocommerce-pagination{
        margin-bottom: 30px;
        ul.page-numbers{
            border: 1px solid #E7E5E4;
            li{
                &:first-child{
                    border-radius: 2px 0px 0px 2px;
                }
                &:last-child{
                    border-radius: 0px 2px 2px 0px;
                    border: 0;
                }
                &:not(:last-child){
                    border-right: 1px solid #E7E5E4;
                }
                .page-numbers{
                    color: #333333;
                    background: #FFFFFF;
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 30px;
                    text-align: center;
                    text-decoration: none;
                    min-width: 46px;
                    padding: 0.5em;
                    &.current{
                        color: #FFFFFF;
                        background-color: #D19D64;
                    }
                    &:hover{
                        color: #FFFFFF;
                        background-color: #D19D64;
                    }
                }
            }
        }

    }


}