
@media (min-width: 768px){
    .page-header .entry-title, 
    .site-footer .footer-inner, 
    .site-footer:not(.dynamic-footer), 
    .site-header .header-inner, 
    .site-header:not(.dynamic-header), 
    body:not([class*=elementor-page-]) .site-main {
        max-width: 750px;
    }
}

@media (min-width: 992px){
    .page-header .entry-title, 
    .site-footer .footer-inner, 
    .site-footer:not(.dynamic-footer), 
    .site-header .header-inner, 
    .site-header:not(.dynamic-header), 
    body:not([class*=elementor-page-]) .site-main {
        max-width: 1020px;
    }
}

@media (min-width: 1200px){
    .page-header .entry-title, 
    .site-footer .footer-inner, 
    .site-footer:not(.dynamic-footer), 
    .site-header .header-inner, 
    .site-header:not(.dynamic-header), 
    body:not([class*=elementor-page-]) .site-main {
        max-width: 1170px;
    }
}

.page-header .entry-title, 
.site-footer .footer-inner, 
.site-footer:not(.dynamic-footer), 
.site-header .header-inner, 
.site-header:not(.dynamic-header), 
body:not([class*=elementor-page-]) .site-main {
    padding-left: 10px;
    padding-right: 10px;
}

body{
    font-family: 'Oswald', sans-serif;
}

main.site-main{
    margin: 0 auto;
    padding: 100px 0;
}